@charset  "ISO-8859-1" ;
@import  url( 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display= swap ' );
* {
	font-family:  'Roboto' , sans-serif;
    font-size:  22 px ;
    font-weight : negrita;
}

.body{
    background: rgb(0,126,205);
}

.btn-success {
	background: rgb(80,90,205);
    font-family:  'Roboto' , sans-serif;
    font-weight : negrita;
    font-size:  20 px ;
}

.btn-success:hover {
	background: rgb(80,90,205);
    font-family:  'Roboto' , sans-serif;
    font-weight: normal;
    padding-left:  15 px ;
    padding-right:15 px ;
    border-color: white;
}
.logo {
    background: rgb(94,97,96);
}